/.vscode
/configs*
/dataset
/exps*
.vscode*/
.cache/
*.pyc
.*/
*.ipynb
.*_history
dp.sqlite3
*.db
optuna*
SQLite/
FashionMNIST/
lightning_logs/
simple_main.py
.*
!.gitignore
*.csv
trial_id.py
pytorch2/
data/

