[user]
	email = w6xu@ucsd.edu
	name = Wangdong Xu
[core]
	autocrlf = false
[credential]
	helper = "!f() { /root/.vscode-server/bin/441438abd1ac652551dbe4d408dfcec8a499b8bf/node /tmp/vscode-remote-containers-71a2af4125ea91dde98eb4c187971f38970a1f7c.js $*; }; f"
